# Ignore build directory where we will create temporary working spaces 
build/
# Don't track build artifacts that are used in packaging 
client/
lib/
doc/
bin/

# Don't track an local tools build area like acapy or von
# that get created when a developer build is run locally
src/devel/
src/logs/

node_modules/
.DS_Store
.tsbuildinfo
coverage
yarn-error.log

**/\#*\#
**/*~

*.tgz
lib/

wwwroot/*.js
typings
