# Ignore build directory where we will create temporary working spaces 
build/
devel/

# Don't track dirs that only exist for creating package structure 
lib/
docs/
bin/

# Don't track an local tools build area like acapy or von
# that get created when a developer build is run locally
src/devel/
src/logs/

node_modules/
.DS_Store
.tsbuildinfo
coverage
yarn-error.log

**/\#*\#
**/*~

*.tgz
lib/

wwwroot/*.js
typings
